# Compiled Source

*.com
*.class
*.dll
*.exe
*.o
*.so
*.obj
*.pdb
*.snk
*.cache
*.vspscc
*.suo
*.bak
*.scc
*.lib
*.log
*.sbr
*.ilk
*.tlh
*.tlb
*._i.c
*._p.c
*.pch
*.ncb
*.aps
*.user
*.iml
*.publish.xml
bin/
obj/
/.build/
/.libs/*.*
!.libs/**/*.dll
!.libs/**/*.pdb
!.tools/**/*.dll
!.tools/**/*.exe

# Web

*..sass-cache

# NuGet

/.nuget/
!.nuget/repositories.config
/.packages/
!.packages/repositories.config
/packages/
!packages/repositories.config

# Project Settings

.idea/
*.DotSettings
*..StyleCop

# OS Files

.DS_Store
.DS_Store?
.Spotlight-V100
ehthumbs.db
Thumbs.db
